<% include mainTmplHeader %>

	<div class="clearfix" style="min-height:30px"></div>
	<input type="hidden" id="wid" value="<%= wwid %>">
	<article class="col-xs-12" style="margin-left:-30px;">
				<!--<div class="panel panel-default">-->
					<div class="panel-body">
						<table class="table table-bordered table-hover">
							<thead>
								<tr class="info">
									<!--<th>订单号</th>-->
									<th>订单信息</th>
									<th>订单状态</th>
									<!--<th>名称</th>
									<th>单价</th>-->
									<th>数量</th>
									<th>需求</th>
									<!--<th>完成时间</th>-->
									<!--<th>状态</th>-->	
									<th>取餐</th>					
								</tr>
							</thead>
							<tbody>
							<% order.forEach(function(order){ %>
								<tr>
									<!--<th><%= order.id %></th>-->
									<td><img class="img-responsive" src="/image/<%= order.image %>/small" />
										<h6><%= order.name %></h6>
										<h6>￥<%= order.price %></h6>
									</td>
									<td id="orderState<%= order.id %>" class="state"><%= order.status %></td>
									<!--<td><%= order.name %></td>-->
									<!--<td><%= order.price %></td>-->
									<td><%= order.count %></td>
									<td><%= order.extra %></td>	
									<!--<td><%= order.finishTime %></td>-->
									<!--<td><%= order.status %></td>-->	
									<td><a class="btn btn-primary btn-sm" id="confirm<%= order.id %>" disabled='true' role="button" onclick="confirm(this.id)">确认</a></td>							
								</tr>
							<% }); %>
							</tbody>
						</table>
					</div>
				<!--</div>-->
		</article>

<% include mainTmplFooter %>
